body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 32px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#taskInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

#addBtn {
  padding: 8px 15px;
  border: none;
  background-color: #5c6bc0;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #3f51b5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  margin: 5px 0;
  background: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}


.bxbx-list-check{
    color: #5c6bc0;
    font-size: 32px;
}

.buttons {
  display: flex;
  gap: 5px;
}

button.edit, button.delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button.edit:hover {
  color: green;
}

button.delete:hover {
  color: red;
}

.edit-input {
  width: 70%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}
